<h4>Hello, you are using picture-api!</h4>
<div>
<form method="POST">
    <label for="batchSize">Batch Size:</label><br>
    <input required type="number" id="batchSize" name="batchSize"><br>
    <br><label for="camIndexLeft">Camera Index Left:</label><br>
    <input required type="number" id="camIndexLeft" name="camIndexLeft"><br>
    <br><label for="camIndexRight">Camera Index Right:</label><br>
    <input required type="number" id="camIndexRight" name="camIndexRight"><br>
    <br><input type="submit" value="Capture Images!">
</form>
<h4>Batch status</h4>
<ol>
{% for element in arr %}
    <li>{{ element }} </li>
{% endfor %}
</ol>
</div>